* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a4e69;
  padding: 8px;
  color: white;
}

.App {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;

}

.header {
  display: flex;

}

#site-name {
  font-size: 1.5rem;
  color: #c9ada7;
  margin: .75rem .25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2rem;
}

#options {
  display: grid;
  background-color: #5F6487;
}

.option {
  font-size: 2rem;
  padding: 12px;
  border: 1px solid #4a4e69;
}

.option:hover {
  border-bottom: 1px solid #c9ada7;
  cursor: pointer;
}

.calc-area {
  display: grid;
  grid-row-gap: 2rem;
}

/*
.text, .calculator {
  border: 1px solid red;
} */

.text {
  background-color: rgba(113, 125, 155, 30%);
}

.text-input {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 2rem;
  width: 100%;
}

.calculator {
  background-color: #5F6487;
}

/* 


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
