@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif:wght@200;300&display=swap');


#colors() {
  bg: #4a4e69;
  secondary-bg: #5F6487;
  accent: #c9ada7;
  text-bg: rgba(113, 125, 155, 30%);
  text: #ffffff;
  text-secondary: rgba(255, 255, 255, 0.7);  
}

#grid-bundle() {
  .App-grid {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-row-gap: 2rem;
    @media (max-width: 600px) {
      grid-template-rows: 1fr;
      grid-row-gap: 1rem;
    }
  }

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2rem;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }
  }

  .text-area-grid {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-rows: 1fr;  
  }
}

#flex-centering() {
  .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Serif', serif;
}

.dark {
  #grid-bundle.App-grid();
  background-color: #colors[bg];
  color: #colors[text];

  .options {
    background-color: #colors[secondary-bg];
  }

  .option {
    border: 1px solid #colors[bg];
    &:hover {
      border-bottom: 1px solid #colors[accent];
      cursor: pointer;  
    }  
  }

  .site-name {
    color: #colors[accent];
  }

  .text, .text-form {
    background-color: #colors[text-bg];
    color: #colors[text-secondary];
  }

  button[type="submit"] {
    background-color: #4a4e69;
    border: 1px solid #c9ada7;
    color: #c9ada7;
  }

  .text-input {
    color: #colors[text];
  }

  a[href] {
    color: #colors[accent];
  }

  .result-area > p:first-child {
    color: #colors[text-secondary];
  }
}

.light {
  #grid-bundle.App-grid();
  background-color: #DADBE1;
  color: #colors[bg];

  .options {
    background-color: #E1E2E7;
  }

  .option {
    border: 1px solid #DADBE1;
    &:hover {
      border-bottom: 1px solid #colors[accent];
      cursor: pointer;  
    }
  }

  .site-name, a[href], p {
    color: #colors[bg];
  }

  .text, .text-form {
    background-color:  rgba(199,203,214,0.7);
    color: #colors[bg];
  }

  label, .text-input {
    color: #colors[bg];
  }

  button[type="submit"] {
    background-color: #DADBE1;
    color: #colors[bg];
    border: 1px solid #colors[secondary-bg];
  }

  .result-area > p:first-child {
    color: #colors[secondary-bg];
  }
}

.header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  padding: 18px;
  @media (max-width: 600px) {
    height: min-content;
    flex-direction: column;
  }
}

.header > h1:hover {
  cursor: pointer;
}

.site-name {
  font-size: 1.5rem;
  margin: .75rem .50rem;
}

.container {
  #grid-bundle.container-grid();
  padding: 0 12px 0 12px;
}

.options {
  display: grid;
  font-weight: 200;
}

.option {
  font-size: 1.50rem;
  padding: 16px;
}

.opt-active {
  border-bottom: 1px solid #colors[accent];
}

.text-area {
  #grid-bundle.text-area-grid();
}

.text, .text-form {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: 1.5rem;
  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.text {
  justify-content: center;
  gap: 1rem;
  @media (max-width: 600px) {
    padding: 12px;
  }
}

label {
  padding: 22px 0;
}

button[type="submit"] {
  align-self: flex-start;
  padding: 12px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
}

.text-input {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0 4px 12px;
  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.text-form {
  padding: 0 2rem;
}

.result-area {
  padding: 2rem 0 0 2rem;
  font-size: 1.75rem;
  border-left: 2px solid #c9ada7;
}

button:hover {
  cursor: pointer;
}

.footer {
  #flex-centering.flex-center();
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.icons {
  #flex-centering.flex-center();
  gap: 2rem;
}

#error-page {
  #flex-centering.flex-center();
  flex-direction: column;
  gap: 12px;
  padding: 2rem;
}

#help {
  #flex-centering.flex-center();
  padding: 2rem;
}

.right-links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.about > a {
  text-decoration: none;
}

.darkModeBtn {
  background: none;
  border: none;
}

.help-div {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 0 12rem 0 1rem;
  @media (max-width: 600px) {
    padding: 0;
  }
}
